/* media for articles */

.web {
    display: block;
}

@media screen and (max-width: 600px) {
    .web {
        display: none;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    width: 100%;
}

.card .card-body {
    padding: 2rem 2.25rem;
}

.card.card-px-0 .card-body,
.card.card-px-0 .card-footer,
.card.card-px-0 .card-header {
    padding-left: 0;
    padding-right: 0;
}

.card.card-py-0 .card-body,
.card.card-py-0 .card-footer,
.card.card-py-0 .card-header {
    padding-top: 0;
    padding-bottom: 0;
}

.card.card-p-0 .card-body,
.card.card-p-0 .card-footer,
.card.card-p-0 .card-header {
    padding: 0;
}

h1 {
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}

.card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(10, 26, 43);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    border: 1px solid rgb(30, 73, 118);
}